.ui.divider
.ui.horizontal.bulleted.list
  .item
    Created by
    = link_to('Kostya Dubinin', 'http://github.com/kostyadubinin', target: '_blank')
  .item
    Contribute on
    = link_to('GitHub', 'http://github.com/kostyadubinin/board_games', target: '_blank')
  .item 2014
