.ui.right.aligned.basic.segment
  .ui.text.menu
    .header.item Sort By
    = render "sorting_link", parameter: "players", title: "Players", icon_class: "user"
    = render "sorting_link", parameter: "playing_time", title: "Playing Time",
      icon_class: "time"
