- if url.present?
  .ui.page.grid
    .center.aligned.column
      .ui.horizontal.icon.divider
        %i.circular.youtube.icon
      %iframe{width: "560", height: "315", src: url, frameborder: "0", allowfullscreen: true}
