// background
body {
  background-image: url(image_path('rockywall.png'));
}

// font
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

// links
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}

// fix height for the item view
.ui.items > .item {
  min-height: 393px;
}
